<header class="header">
    <h1 class="header__title">Mission Maker</h1>
    <div class="header__arrow-back"></div>
    <nav class="navigation">
        <ul class="navigation__items">
            <li class="navigation__item">
                <a href="{{ '/' }}" class="navigation__link">main</a>
            </li>
            <li class="navigation__item">
                <a href="{{ '/missions' }}" class="navigation__link">missions</a>
            </li>
            <li class="navigation__item">
                <a href="{{ '/help' }}" class="navigation__link">help</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main">
    <div id="content"></div>
</main>
<footer class="footer">

</footer>