<div class="backdrop"></div>
<div class="edit-task-popup popup-body">
    <p class="task__label">Task</p>
    <div class="task-editable input popup-input" contenteditable="true" data-name="description">{{ task }}</div>
    <div class="edit-task-popup__btns">
        <button class="edit-task-popup__btn edit-task-popup__btn--yes popup-confirm">{{ yes }}</button>
        <button class="edit-task-popup__btn edit-task-popup__btn--no popup-cancel">{{ no }}</button>
    </div>
</div>