<form class="mission">
    <header class="mission__info">
        <div class="mission-info">
            <input type="text" class="mission__input" placeholder="Mission title">
            <input type="text" class="mission__input" placeholder="Mission description">
            <input type="text" class="mission__input" placeholder="Executor">
        </div>
        <div class="mission-tasks">
            
        </div>
        <input type="submit" class="mission__submit">
</form>