<div class="missions-add">
    <span class="add-mission">
        <img src="/assets/images/add.svg" alt="remove">
    </span>
</div>
<div class="missions-list"></div>
{#    <img src="/assets/images/remove.svg" alt="remove">#}
